.allnav{
    background:#0068c1;
    width:100%;
    height: 87px;
    line-height: 87px;
}
.yellow{
    color:yellow !important;
}
a{
    text-decoration: none;
}
.allnav .nav{
    width:80%;
    height: 84px;
}
.logo{
    float:left;
    height:87px;
    line-height: 87px;
}
.logo img.one{
    margin-top: 15px;
}
.allnav .navright{
    float:right;
}
.allnav .navright ul{
    list-style-type: none;
}
ul{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.allnav .navright ul li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.allnav .navright ul li{
    float: left;
}
.nav li {
    float: left;
    position: relative;
}
.nav li .nav-item {
    display: block;
    line-height: 87px;
    font-size: 16px;
}
.nav .navright li :hover{
    background:rgba(0, 0, 0, 0.1);
}
#nav-item:hover .nav-list{
    display: block;
    background:rgba(0, 0, 0, 0.7); 
    z-index: 1000;
}
.nav-list{
    width:104px;
    overflow: hidden;
    position:absolute;
    background:rgba(0, 0, 0, 0.7);
    display: none;
}

.nav-list .nav-list-item {
    padding: 3px 0px;
    height: 70px;
    line-height: 30px;

}
.nav-list-item a {
    height: 50px;
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
}